<%= image_tag("globeLogo.png",  :alt =>"Travelagent.com for your travel needs" ) %>
<%= image_tag("travelagentbanner.png",  :alt =>"Travelagent.com is your home to arrange the perfectcruise" ) %>
<form>
    <input type="textbox" placeholder="Search....">
    <button type="submit">Search</button>
</form>
<p><%= link_to 'Customers', customers_path%>   |   <%= link_to 'Find Cruise', cruises_path%>  |   Make a Payment | <%=link_to 'Our ships',ships_path %> |
<%=link_to 'Our Harbours', harbours_path %></p>